In [ ]:
#guide ref
#https://qlib.readthedocs.io/en/latest/start/getdata.html
#https://qlib.readthedocs.io/en/latest/component/data.html guide ref
#should pip install pyqlib

In [1]:
import qlib
qlib.__version__

'0.7.2.99'

In [2]:
import qlib
# region in [REG_CN, REG_US]
from qlib.config import REG_CN
provider_uri = "~/.qlib/qlib_data/cn_data"  # target_dir
qlib.init(provider_uri=provider_uri, region=REG_CN)

####init is required

[14904:MainThread](2022-07-18 18:00:30,783) INFO - qlib.Initialization - [config.py:386] - default_conf: client.
[14904:MainThread](2022-07-18 18:00:33,134) WARNING - qlib.Initialization - [config.py:411] - redis connection failed(host=127.0.0.1 port=6379), DiskExpressionCache and DiskDatasetCache will not be used!
[14904:MainThread](2022-07-18 18:00:34,414) INFO - qlib.Initialization - [__init__.py:56] - qlib successfully initialized based on client settings.
[14904:MainThread](2022-07-18 18:00:34,416) INFO - qlib.Initialization - [__init__.py:58] - data_path={'__DEFAULT_FREQ': WindowsPath('C:/Users/starg/.qlib/qlib_data/cn_data')}

In [4]:
from qlib.data import D

In [10]:
instruments = D.instruments(market='all')
tfields = ['$open','$close','$high','$low','$volume', 'Ref($close, 1)', 'Mean($close, 3)', '$high-$low']
# this is guide for fetching

In [11]:
df=D.features(instruments=instruments,fields=tfields,start_time='2010-01-01', end_time='2010-01-10', freq='day')

In [12]:
df

                          $open    $close     $high      $low       $volume  \
instrument datetime
SH000300   2010-01-04  3.655379  3.597137  3.660752  3.597137  6.496348e+10
           2010-01-05  3.607271  3.626451  3.640177  3.558909  8.433286e+10
           2010-01-06  3.621018  3.603750  3.651675  3.603181  7.712260e+10
           2010-01-07  3.605206  3.532250  3.620875  3.513233  7.896721e+10
           2010-01-08  3.517445  3.541072  3.543056  3.486706  5.974405e+10
...                         ...       ...       ...       ...           ...
SZ300038   2010-01-08  1.013889  1.000000  1.041667  0.990278  4.310424e+08
SZ300039   2010-01-08  1.000440  1.000000  1.055189  0.997801  6.103480e+08
SZ300040   2010-01-08  1.028653  1.000000  1.038682  0.993314  3.677801e+08
SZ300041   2010-01-08  1.013149  1.000000  1.034706  0.993749  4.243246e+08
SZ300042   2010-01-08  0.972355  1.000000  1.077216  0.972355  4.582294e+08

                       Ref($close, 1)  Mean($close, 3)  $high-$low
instrument datetime
SH000300   2010-01-04        3.638295         3.618871    0.063615
           2010-01-05        3.597137         3.620628    0.081269
           2010-01-06        3.626451         3.609113    0.048495
           2010-01-07        3.603750         3.587484    0.107643
           2010-01-08        3.532250         3.559024    0.056350
...                               ...              ...         ...
SZ300038   2010-01-08             NaN         1.000000    0.051389
SZ300039   2010-01-08             NaN         1.000000    0.057388
SZ300040   2010-01-08             NaN         1.000000    0.045368
SZ300041   2010-01-08             NaN         1.000000    0.040957
SZ300042   2010-01-08             NaN         1.000000    0.104862

[8292 rows x 8 columns]